.container {
  margin: 0 auto;
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    max-width: $container-sm-width;
  }

  @media (min-width: $breakpoint-md) {
    max-width: $container-md-width;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: $container-lg-width;
  }

  @media (min-width: $breakpoint-xl) {
    max-width: $container-xl-width;
  }
}