// FONTS
$font-general: 'Open Sans', sans-serif;
$font-monospace: 'Source Code Pro', monospace;

// COLORS
$almost-black: #181818;
$almost-white: #eeeeee;

// BREAKPOINTS
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// CONTAINER WIDTHS
$container-sm-width: 540px;
$container-md-width: 720px;
$container-lg-width: 960px;
$container-xl-width: 1140px;
